/exerc02_ordenacao_tuplas.py
/exerc03_contagem_frequencia.py
/exerc04_contagem_palavras.py
/exerc05_tupla_medias.py
/exerc06_combinacao_dicionarios.py
/exerc07_top3_frequentes.py
/exerc08_verificador_palindromos.py